{% extends '../base.html' %}

{% block title %}Edit{{ requested_user }}{% endblock %}
{% block header %}{% include 'nav.html' %}{% endblock %}

{% block main %}
    <h1 class="mt-3">Edit User</h1>
    <form action="/users/{{ requested_user.id }}/edit/" method="post">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <input type="submit" value="Submit">
    </form>
    <p>{{ message }}</p>
    <a class="btn btn-primary" href="/users/{{ requested_user.id }}/">Back</a>
{% endblock %}