{% extends '../base.html' %}

{% block title %}{{ user }}{% endblock %}
{% block header %}{% include 'nav.html' %}{% endblock %}

{% block main %}
    <h2 class="py-3">Edit Profile</h2>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            {{ form.first_name.label_tag }}
            {{ form.first_name }}
        </div>
        <div class="form-group">
            {{ form.last_name.label_tag }}
            {{ form.last_name }}
        </div>
        <div class="form-group">
            {{ form.email.label_tag }}
            {{ form.email }}
        </div>
        <div class="form-group">
            {{ form.phone_number.label_tag }}
            {{ form.phone_number }}
        </div>
        <div class="form-group">
            {{ form.home_address.label_tag }}
            {{ form.home_address }}
        </div>
        <button type="submit" class="btn btn-primary">Save Changes</button>
    </form>
{% endblock %}